@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}

/* Основа */
body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Навигация*/
.page-header {
  display: flex;
  min-height: 64px;
  padding: 0 70px;
  position: relative;
}

.page-header-logo {
  margin-bottom: -5px;
  margin-right: 30px;
}

.page-header-logo-img {
  width: 138px;
}

.navigation {
  display: flex;
  width: 710px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list-item-link {
  display: block;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 16px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 126px;
  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  width: 42px;
  height: 62px;
}

.button-navigation {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  padding: 8px 0px;
  margin: 14px 0 18px 20px;
  border-radius: 4px;
  border-style: none;
}

/* Основная страница*/
.main-index {
  color: #000000;
  background-color: #ffffff;
}

.container {
  flex-grow: 1;
}

.welcome {
  display: block;
  background-image: url("../images/index/index-background.jpg");
  background-color: #82b3d3;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 82px;
  padding-top: 51px;
}

/*Преимущества*/
.advantages {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-container {
  flex-grow: 1;
  padding: 69px 274px 69px 274px;
}

.advantages-header,
.services-header,
.hotel-header,
.appointment-header,
.appointment-inner-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.advantages-text,
.services-text,
.hotel-text,
.appointment-text,
.appointment-inner-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.advantages-header {
  width: 620px;
  margin-bottom: 25px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 103px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-image {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item:nth-child(even) {
  background-color: rgba(130, 179, 211, 0.2);
}

.advantages-item-image-container {
  box-sizing: border-box;
  width: 400px;
  padding: 103px 85px;
  flex-grow: 1;
}

.advantages-image-photo {
  display: block;
  min-width: 800px;
  flex-grow: 1;
}

.advantages-title,
.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.advantages-title-image {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description-image {
  color: #ffffff;
}


.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: 0 auto;
}

/*Сервис*/
.services {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.services-header {
  width: 505px;
  margin-bottom: 25px;
}

.services-text {
  margin-bottom: 64px;
}

.services-title,
.appointment-header,
.appointment-inner-header {
  margin: 0 auto;
  margin-bottom: 20px;
}

.services-container {
  flex-grow: 1;
  padding: 64px 355px 64px 355px;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 80px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(odd) {
  background-color: #ffffff;
}

.services-item-icon {
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
}

.services-title {
  margin: 0 auto;
  margin-bottom: 30px;
}

.services-description {
  text-align: center;
  margin: 0;
  width: 230px;
}

/*Поиск гостиницы*/
.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.hotel-header {
  margin-bottom: 20px;
}

.hotel-text{
  width: 592px;
  margin-bottom: 54px;
}

.hotel-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  margin: 0 auto;
}

/*Заявка*/
.appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px 258px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/index/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.appointment-text,
.appointment-inner-text {
  width: 475px;
  margin: 0;
  margin-bottom: 54px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 104px;
}

.appointment-email {
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 432px;
  height: 52px;
  padding: 0 0 0 20px;
}

.button-active {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  width: 232px;
  height: 52px;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 50px;
}

/*Подвал*/
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.footer-logo-link {
  width: 115px;
  height: 33px;
  object-fit: contain;
}

.social-item {
  display: flex;
  justify-content: center;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item-list {
  margin-right: 26px;
}

.social-list-item {
  width: 33.3%;
  padding: 0 10px;
}

.social-item-link {
  text-decoration: none;
  text-align: center;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/*Каталог*/
.filter {
  background-image: url("../images/catalog/filter.jpg");
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 30px 70px 70px 70px;
  margin-bottom: 50px;

}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 10px;
  text-decoration: none;
}

.breadcrumbs-link-icon {
  width: 12px;
  height: 12px;
  padding: 8px 10px 0 0;
}

/* Фильтр*/
.filter-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter-item {
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-item-list {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  font-weight: inherit;
  margin-bottom: 16px;
}

.control-input {
width: 20px;
height: 20px;
}

.filter-group-price {
  position: relative;
  border: none;
  width: 288px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.filter-price-container {
display: flex;
flex-wrap: wrap;
gap: 2px;
margin-bottom: 36px;
}

.price-min,
.price-max {
position: absolute;
line-height: 24px;
color: rgba(117, 97, 87, 0.3)
}

.price-min {
  top: 12px;
  left: 106px;
}

.price-max {
  top: 12px;
  right: 20px;
}

.price-input {
  box-sizing: border-box;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
  width: 143px;
  padding: 12px 45px 12px 20px;
  border: none;
}

.min {
  border-radius: 4px 0 0 4px;
}

.max {
  border-radius: 0 4px 4px 0;
}

.button-container {
display: flex;
flex-direction: column;
padding: 56px 0 0;
row-gap: 32px;
width: 191px;
}

.button-filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
}

.active {
  background-color: #82b3d3;
}

.reset {
  background-color: transparent;
}

/*Результат*/
.result {
 margin: 0 auto;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 70px 0 70px;
}

.result-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 350px;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  color: #333333;
  font-weight: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  width: 292px;
  height: 48px;
}

.slip-item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.slip-item-list {
  min-width: 48px;
  min-height: 48px;
  padding: 16px 16px;
  margin-right: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.slip-item-list:last-child {
  margin-right: 0;
}

.slip-item-icon {
  width: 16px;
  height: 14px;
}

/*Каталог*/
.hotel-card-item {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  background-color: #ffffff;
  padding: 0 0 0 70px;
  margin: 0 0 40px 0;
  gap: 20px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  align-items: center;
  justify-content: center;
  gap: 16px 20px;
  padding: 19px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.hotel-card-link {
 text-decoration: none;
 grid-column-start: 1;
 grid-column-end: -1;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
}

.hotel-card-text-header,
.hotel-card-text-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-card-text-price {
  text-align: right;
}

.hotel-card-rating{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e5e5e5;
  border-radius: 4px;
  padding: 8px 0;
}

.button-card,
.button-card-like {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border-style: none;
  width: 140 px;
  padding: 8px 0;
  margin: 0;
}

.button-card {
  background-color: #756157;
}

.button-card-like {
  background-color: #82b3d3;
}

.like-hover {
  background-color: #7db54f;
}

/*Пагинация*/
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0 0 0 70px;
  list-style-type: none;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
  border: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 11px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-next {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}

.appointment-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 96px 258px 104px 258px;
}
